<form class="formAlignment">
  <h1> Post Form </h1><br><br>
  <input type="text" placeholder="post title" name="title" [(ngModel)]="postTitleText"><br><br>
  <textarea placeholder="Post Details" rows="10" cols="24" name="post details" [(ngModel)]="postDetailsText"></textarea>
  <br><br>
  <input type="text" placeholder="Post Image Url" name="image" [(ngModel)]="imageUrl"><br><br>
  <input type="text" placeholder="Post Url" name="url" [(ngModel)]="urlText"><br><br>
  <input type="checkbox" name="click" [(ngModel)]="bgColors"> Add Background
</form>
<div class="formAlignment">
  <h1 [style.font-weight]="'bold'"><span [class.bgColor]="bgColors">{{postTitleText}}</span></h1>
  <h5>{{postDetailsText}}</h5>
  <img [src]="imageUrl">
  <a [href]="urlText" [style.display]="urlText ? 'block':'none'">Click Here</a>
</div>
